<style>
    .block {
    display: none;
}

.block.active {
    display: block;
}
</style>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        
      </div>

            <label for="select_act"> Выберите действие:</label>
            <select name="select_act" id="select_act">                
                  <option value="add" selected>Добавить</option>
                  <option value="edit">Редактировать</option>
                  <option value="delete">Удалить</option>
            </select>



<div id="add_block" class="block active">
    <h2>Добавление атрибута</h2>
            <form action="/attribute" method="POST">
            <label for="select_attribute"> Выберите сущность:</label>
            <select name="add_ea" id="select_attribute">
                {{#if e}}
                {{#each e}}
                <option value="{{this.id_entity}}">{{this.name_entity}}</option>
                {{/each}}
                {{/if}}
            </select>
            <input id="name_attribute" name="add_attribute" placeholder="Атрибут">
            <button>OK</button>        
            </form>
    
      
</div>

<div id='edit_block' class="block">
           <h2>Редактирование атрибута</h2>
            <form action="/attribute" method="POST">
            
            <label for="select_attribute"> Выберите сущность и ее атрибут:</label>
            <select name="edit_ea" id="select_attribute">
                {{#if ea}}
                {{#each ea}}
                <option value="{{this.id_ea}}">{{this.entity}} {{this.attribute}}</option>
                {{/each}}
                {{/if}}
            </select>
            <br>
            <select name="edit_e" id="select_entity">
                {{#if e}}
                {{#each e}}
                <option value="{{this.id_entity}}">{{this.name_entity}}</option>
                {{/each}}
                {{/if}}
            </select>
            <input id="name_attribute" name="edit_attribute" placeholder="Атрибут">
            <button>OK</button>        
            </form>
    
</div>

<div id='delete_block' class="block">

        <h2>Удаление атрибута</h2>
            <form action="/attribute" method="POST">
            
            <label for="select_attribute"> Выберите атрибут сущности:</label>
            <select name="delete_ea" id="select_attribute">
                {{#if ea}}
                {{#each ea}}
                <option value="{{this.id_ea}}">{{this.entity}} {{this.attribute}}</option>
                {{/each}}
                {{/if}}
            </select>
            
            <button>OK</button>        
            </form>
</div>

<div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>id</th>
              <th>Название сущности</th>
              <th>Название атрибута</th>
            </tr>
          </thead>
          <tbody>
            {{#each ea}}
            <tr>
              <td>{{id_e}}</td>
              <td>{{entity}}</td>
              <td>{{attribute}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>

    <script>
       
        $("#select_act").change(() => {
            let val = $("#select_act").val();
            $(".block").removeClass("active");
            $(`#${val}_block`).addClass("active");
            //if (val == "add") {
            //    $.get("./entity").done((data) => {})  
                
            //}
        });


    </script>