<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <form action="/entity_attribute" method="POST">
        <label for="select_act"> Выберите действие:</label>
        <select name="act" id="select_act">
            <option value="add_entity">Добавить сущность</option>
            <option value="add_attribute">Добавить атрибут к сущности</option>

            <option value="edit_entity">Редактировать сущность</option>
            <option value="edit_attribute">Редактировать атрибут</option>

            <option value="delete_entity">Удалить сущности</option>
            <option value="delete_attribute">Удалить атрибут</option>
        </select>

        <button type='submit'>OK</button>
    </form>

    <form action="/entity_attribute" method="POST">
        {{#if add_e}}
            <input id="name_entity" name="entity" placeholder="Сущность">
            <button>OK</button>
        {{/if}}

        {{#if add_ea}}

            <label for="select_entity"> Выберите сущность:</label>
            <select name="select_e" id="select_entity">
                {{#if e}}
                {{#each e}}
                <option value="{{this.id_e}}">{{this.name_e}}</option>
                {{/each}}
                {{/if}}
            </select>
            <br>
            <input id="name_attribute" name="attribute" placeholder="Атрибут">
            <button>OK</button>
        {{/if}}

        {{#if edit_e}}

            <label for="select_entity"> Выберите сущность:</label>
            <select name="select_e" id="select_entity">
                {{#if e}}
                {{#each e}}
                <option value="{{this.id_e}}">{{this.name_e}}</option>
                {{/each}}
                {{/if}}
            </select>
            <br>
            <input id="name_entity" name="entity" placeholder="Сущность">
            <button>OK</button>
        {{/if}}

        {{#if edit_ea}}

            <label for="select_entity"> Выберите сущность:</label>
            <select name="select_e" id="select_entity">
                {{#if e}}
                {{#each e}}
                <option value="{{this.id_e}}">{{this.name_e}}</option>
                {{/each}}
                {{/if}}
            </select>
            <br>
            <label for="select_attribute"> Выберите атрибут:</label>
            <select name="select_ea" id="select_attribute">
                {{#if ea}}
                {{#each ea}}
                <option value="{{this.id_ea}}">{{this.name_ea}}</option>
                {{/each}}
                {{/if}}
            </select>
            <br>
            <input id="name_attribute" name="attribute" placeholder="Атрибут">
            <button>OK</button>
        {{/if}}

        {{#if delete_e}}
            <label for="select_entity"> Выберите сущность:</label>
            <select name="select_e" id="select_entity">
                {{#if e}}
                {{#each e}}
                <option value="{{this.id_e}}">{{this.name_e}}</option>
                {{/each}}
                {{/if}}
            </select>
            <button>OK</button>
        {{/if}}

        {{#if delete_ea}}

            <label for="select_attribute"> Выберите атрибут:</label>
            <select name="select_ea" id="select_attribute">
                {{#if ea}}
                {{#each ea}}
                <option value="{{this.id_ea}}">{{this.name_ea}}</option>
                {{/each}}
                {{/if}}
            </select>
            <button>OK</button>
        {{/if}}
    </form>

<!--<div>
    <form>
        <div class="form-row">
            <div class="form-group col-lg-5 col-md-12 m-4">
                <select class="form-control" id="select_act" name="act" onchange="convert(this)">
                    <option value="add_entity">Добавить сущность</option>
                    <option value="add_attribute">Добавить атрибут к сущности</option>

                    <option value="edit_entity">Редактировать сущность</option>
                    <option value="edit_attribute">Редактировать атрибут</option>

                    <option value="delete_entity">Удалить сущности</option>
                    <option value="delete_attribute">Удалить атрибут</option>
                </select>
                <input class="form-control" id="left-text" value="0" placeholder="100" oninput="convert(this)"></inpute>
            </div>
            
            <div class="form-group col-lg-5 col-md-12 m-4">
                <select class="form-control" id="left-valute" onchange="convert(this)">
                    {{#each Valute}}
                        <option value="{{Value}}">{{Name}}</option>
                    {{/each}}
                </select>
                <input class="form-control" id="left-text" value="0" placeholder="100" oninput="convert(this)"></inpute>
            </div>

            <div class="form-group col-lg-5 col-md-12 m-4">
                <select class="form-control" id="right-valute" onchange="convert(this)">
                    {{#each Valute}}
                        <option value="{{Value}}">{{Name}}</option>
                    {{/each}}
                </select>
                <input class="form-control" id="right-text" value="0" placeholder="100" oninput="convert(this)"></inpute>
            </div>

        </div>
    </form>
</div>

<script>
    function convert(obj) {
        const leftValute = document.getElementById("left-valute");
        const rightValute = document.getElementById("right-valute");
    
        const leftText = document.getElementById("left-text");
        const rightText = document.getElementById("right-text");

        if (obj == leftValute || obj == leftText) {
            rightText.value = Math.round((leftText.value * leftValute.value / rightValute.value) * 1000) / 1000;
        } else {
            leftText.value = Math.round((rightText.value * rightValute.value / leftValute.value) * 1000) / 1000;
        }
    }
</script>-->

</body>
</html>